@import url("https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Inter & family= Inter+Tight & family= Nunito+Sans & family= Open+Sans:ital@ 1 & family= PT+Sans+Narrow & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
nav{
    max-width:1440px;
    background-color: aqua;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.nav {
    display: flex;
    gap: 502px;
    align-items: center;
    justify-content: center;
    padding-top: 46px;
  }
  .nav-rigth > a {
    color: #272d38;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
  }
  .nav-left > a > i {
    display: none;
  }
  .nav-left > ul {
    list-style: none;
    display: flex;
    gap: 44px;
  }
  /* =======section birinchi========== */
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    padding-top: 97px;
  }
  .section-rigth > h2 {
    width: 540px;
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
  }
  .section-rigth > p {
    width: 525px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;
    text-transform: capitalize;
    padding-top: 24px;
  }
  button {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    background-color: #8eadd5;
    font-weight: 600;
    line-height: 27.5px;
    text-transform: uppercase;
    padding: 10px 31px;
    border: none;
    margin-top: 39px;
  }
  /* =========section ikkinchi qismi============= */
  .tursted {
    text-align: center;
    padding-top: 157px;
  }
  .tursted-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 126px;
    padding-top: 40px;
  }
  /* =========section uchinchi qismi============= */
  .logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 173px;
    padding-top: 155px;
  }
  .logo-left > h3 {
    color: #272d38;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    width: 435px;
  }
  .logo-left > p {
    color: #272d38;
    font-family: Inter;
    font-size: 18.5px;
    width: 392px;
    font-weight: 400;
    line-height: 27.5px;
    text-transform: capitalize;
    padding-top: 25px;
  }
  .logo-left > a > i {
    font-size: 35px;
    padding-top: 45px;
  }
  /* =========section tortinchi qismi================= */
  .plugin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 179px;
    padding-top: 155px;
  }
  .plugin-rigth > h3 {
    width: 435px;
    color: #272d38;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
  }
  .plugin-rigth > p {
    width: 392px;
    color: #272d38;
    font-family: Inter;
    font-size: 18.5px;
    font-weight: 400;
    line-height: 27.5px;
    text-transform: capitalize;
    padding-top: 25px;
  }
  .plugin-rigth > a > i {
    font-size: 35px;
    padding-top: 45px;
  }
  /* ==========section beshinchi qismi============== */
  .read {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .read-top > p {
    color: #272d38;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.5px;
    text-transform: capitalize;
    text-align: center;
  }
  .read-top > h4 {
    color: #272d38;
    padding-bottom: 38px;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    width: 435px;
  }
  .read-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .read-child-1 {
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
  }
  .read-child-1 > h5 {
    font-family: Inter;
    font-size: 18px;
    padding-top: 6px;
    font-weight: 400;
  line-height: 27.5px; /* 152.778% */
  text-transform: capitalize;
}
.read-child-1 > p {
  color: #272d38;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  width: 281px;
  font-weight: 300;
  line-height: 130%;
  text-transform: capitalize;
  padding-top: 27px;
  padding-bottom: 32px;
}
/* =========section oltinchi qismi============ */
.asset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  margin-top: 136px;
  background-color: #f6f6f6;
  border-radius: 20px;
}
.asset-left > h3 {
  color: #272d38;
  font-family: Inter;
  font-size: 48px;
  width: 361px;
  font-weight: 700;
  line-height: 100%;
}
.asset-left > p {
  color: #272d38;
  font-family: Inter;
  font-size: 16px;
  width: 360px;
  font-weight: 400;
  line-height: 27.5px;
  padding-top: 16px;
}
/* =======footer qismi======== */
footer{ 
    background-color: #f6f6f6;
}
.footer-box {
  display: flex;
  gap: 178px;
  align-items: center;
  justify-content: center;
  margin-top: 138px;
  padding-top: 105px;
 
}
.footer-box-1{
  border: 2px solid red;
  margin-bottom: 70px;
}
.footer-box-1 > h4 {
  color: #272d38;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 27.5px;
  text-transform: capitalize;
}
.footer-box-1 > p {
  color: #272d38;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  text-transform: capitalize;
  width: 189px;
  padding-top: 40px;
}
.footer-box-2 > p {
  color: #272d38;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 27.5px;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
ul > li {
  list-style: none;
  padding-top: 24px;
}
ul > li > a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 100%;
  text-transform: capitalize;
}
.footer-box-5 {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 16px;
}
.footer-box-5 > p {
  color: #272d38;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
}
